.icon-color {
    display: flex;
    margin-top: -50px;
}
.icon {
    margin-right: 20px;
}
.icon i{
    margin-right: 10px;
}

.text-hero {
    color: white !important;
}
.text-bold {
    color: #B99226;
}
.text-link {
    color: #7b7b7b;
}
.item-menu:hover {
    color: #B99226 !important;
}

.bg-component {
    background-color: #B99226 !important;
    color: white !important;
}
.bg-component:hover {
    background-color: #000000 !important;
}

.slide-btn button{
    background-color: #B99226 !important;
    border-color: #B99226 !important;
}
.slide-btn button:hover {
    background-color: #000000 !important;
}

/* Styles Services component */
.item-service {
    margin-top: -60px;
}
.item-service .list-item {
    margin-top: 20px;
}
.item-service .list-item .item {
    font-size: 20px;
}

.flaticon-quotation {
    color: #B99226 !important;
}

.div-map {
    margin-bottom: -25px;
}